{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["Chrome >= 50", "Edge >= 12", "FF >= 45", "Safari >= 9", "IE >= 11"]
        }
      }
    ]
  ]
}
