@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@keyframes chatButtonIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes chatButtonOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes autoPopIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(30%);
  }
  65% {
    opacity: 50%;
    transform: scale(1.05) translateX(-1%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes autoPopOut {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translateX(30%);
  }
}

#QuiqContactUsButton {
  border: none;
  border-radius: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  color: #fff;
  fill: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  animation: chatButtonIn 0.3s ease-in-out 1;

  &.closed {
    animation: chatButtonOut 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
    outline: none;
  }

  &:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  }

  .autoPopBubble {
    animation: autoPopIn 0.5s linear 1;
    animation-fill-mode: both;
    position: fixed;
    bottom: 24px;
    right: 100px;
    background: #fff;
    color: #333;
    padding: 12px;
    font-size: 14px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.3);
    text-align: left;
  }

  .autoPopBubble.animateOut {
    animation: autoPopOut 0.25s linear 1;
    animation-fill-mode: both;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.25);
  }
  to {
    opacity: 1;
    box-shadow: -150px 0 200px 20px rgba(0, 0, 0, 0.25);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    box-shadow: -150px 0 200px 20px rgba(0, 0, 0, 0.25);
  }
  to {
    opacity: 0;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.25);
  }
}

@keyframes channelButtonIn {
  0% {
    transform: translateX(280px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes channelButtonOut {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(280px);
  }
}

#QuiqContactUsButtons {
  .channelOptionShadow {
    position: fixed;
    bottom: 0;
    right: -310px;
    width: 310px;
    height: 310px;
    border-top-left-radius: 100%;
    background: rgba(0, 0, 0, 0);
    animation: 0.5s fadeIn 1;
    animation-fill-mode: both;
    z-index: 100;
  }

  .channelButtons {
    position: fixed;
    bottom: 100px;
    right: 24px;
    z-index: 101;
  }

  .channelButton {
    width: 255px;
    height: 64px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 0.15s ease-in-out all;
    cursor: pointer;

    &:hover {
      border-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      border-color: rgba(0, 0, 0, 0.15);
    }
  }

  .channelLabel {
    flex: 1 1 auto;
    text-align: center;
  }

  .channelButtons a {
    text-decoration: none;
  }

  .channelButton .channelIcon {
    width: 45px;
    margin-left: 12px;
    text-align: center;
  }

  .channelButton .channelIcon img {
    width: 45px;
  }

  .channelButton .channelIcon svg {
    margin: 0 auto;
  }

  #smsButton {
    background: #404552;
    &:hover {
      background: #313744;
    }
    &:active {
      background: #272d3a;
    }
  }

  #webchatButton {
    background: #2bb780;
    &:hover {
      background: #27966d;
    }
    &:active {
      background: #1c6e50;
    }
  }

  #facebookButton {
    background: #3a5ca9;
    letter-spacing: 0.5px;
    &:hover {
      background: #33539e;
    }
    &:active {
      background: #2e4c94;
    }
  }

  #abcButton {
    background: #6e7883;
    &:hover {
      background: #626d7a;
    }
    &:active {
      background: #54606d;
    }
  }
  .channelButtonIn {
    animation: channelButtonIn 0.3s ease-in-out 1;
    animation-fill-mode: both;
  }

  &.channelButtonsOut .channelButtonIn {
    animation-name: channelButtonOut;
  }

  &.channelButtonsOut .channelOptionShadow {
    animation-name: fadeOut;
  }

  .channelButtonIn-0 {
    animation-delay: 0;
  }

  .channelButtonIn-1 {
    animation-delay: calc(0.1s * 1);
  }
  .channelButtonIn-2 {
    animation-delay: calc(0.1s * 2);
  }
  .channelButtonIn-3 {
    animation-delay: calc(0.1s * 3);
  }
}

@keyframes popupIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popupOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.QuiqContactUs-modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out all;

  &[data-visible='true'] {
    background: rgba(0, 0, 0, 0.3);

    .QuiqContactUs-modal {
      animation: popupIn 0.3s 1;
    }
  }

  &[data-visible='false'] {
    background: transparent;
    pointer-events: none;
    visibility: hidden;

    .QuiqContactUs-modal {
      animation: popupOut 0.3s 1;
    }
  }
}

.QuiqContactUs-modal {
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  width: 300px;
  margin: calc(50vh - 5rem) auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.QuiqContactUs-modalTitle {
  color: hsl(0, 0%, 13%);
  margin: 0;
  font-size: 2rem;
  line-height: 1;
}

.QuiqContactUs-modalClose {
  float: right;
  border: none;
  font-size: 2rem;
  line-height: 1;
  margin: -0.5rem -0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: ease-in-out 0.15s background-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.QuiqContactUs-modalPrompt,
.QuiqContactUs-modalNumber {
  font-size: 1.25rem;
  margin: 1rem 0 0;
  text-align: center;
}

.QuiqContactUs-modalNumber {
  font-weight: 700;
  margin-bottom: 1rem;
}
